.preview{
   
    background-color: $color__bg--dark;
    height: 457px;
    padding-left: 45px; /***/
    padding-top: 38px;

    &__reset{
        display: flex;
        flex-direction: inline-block;
        background-color: $color__bg--dark;
        height:30px;
        width:75px;
        border: white 1px solid;     
        border-radius: 12px;
        text-align: center;
        padding: 4px 12px 5px 10px;

        &__text {

        font-family: $font__text;
        font-size: 12px;
        text-decoration: none;
        color: $color__text;



        }
       


    }

    &__card{
        
        background-color: $color__white-two;
        height:329px;
        width:240px;
        margin-top: 20px;
        padding-top: 20px;
        

        &__text{
            
            height: 45px;
            margin-bottom: 10px;
            border-left: 5px solid $color__brand2;
            padding-left: 15px;
            font-family:$font__card;
        }
        
        &__name{

            font-family:$font__card ;
            font-weight: 600px;
            font-size: 18px;
            color: $color__brand2;
            font-weight: bold;

        }

        &__job {

            padding-top: 4px;
            font-family:$font__card ;
            font-size: 16px;
            color: $color__text;

        }

        &__pic{
            height:200px;
            width:240px;
            contain: content;


        }

        &__social{

            background-color: $color__white-two;
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            gap: 10px;
            margin-left: 20px;
            list-style:none;
            
            

            &__icons {
                
                display:flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: auto;
                height:32px;
                width:32px;
                color: $color__brand2;
                border: $color__brand3 solid 2px;
                border-radius: 50%;
                text-decoration: none;
                

            }

        }

    }

    

    
    
}
