.dropdown {
    padding: 20px 30px;
    background: linear-gradient(to bottom, $color__bg--light, $color__white-two 9%);
    &__header {
        display: flex;
        align-items: baseline;
        padding-top: 10px;
    }
    &__fieldset {
        border: none;
        border-bottom: 1px solid $color__footer__bg;
    } 
    &__title {
        font-size: 18px;
        color: $color__text;
        font-family: $font__text;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    &__arrow {
        color: $color__text;
        display: inline-block;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }
}

@media  (min-width: 768px){

    .ui_main{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 1;
    }

    .preview{
        width: 50vw;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .dropdown{
        width: 50vw;
        grid-column: 1/2;
        grid-row: 1/2;
    }
}