<form action="" class="dropdown">
	<fieldset class="dropdown__fieldset">
		<div>
			<i></i>
			<h2 class="dropdown__title">Diseña</h2>
			<i></i>
		</div>
		<include src="./section-form-design.html"></include>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<div>
			<i></i>
			<h2 class="dropdown__title">Rellena</h2>
			<i></i>
		</div>
		<include src="./section-form-fill.html"></include>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<div>
			<i></i>
			<h2 class="dropdown__title">Comparte</h2>
			<i></i>
		</div>
		<include src="./section-form-share.html"></include>
	</fieldset>
</form>
