<form class="section__fill">
	<label class="section__fill--label" for="name">Nombre Completo</label>
	<input
		class="section__fill--input"
		placeholder="Ej: Sally Jill"
		id="name"
		name="name"
		type="text"
		required
	/>
	<label class="section__fill--label" for="job">Puesto</label>
	<input
		class="section__fill--input"
		placeholder="Ej: Front-end unicorn"
		id="job"
		name="job"
		type="text"
		required
	/>
	<label class="section__fill--label" for="image">Imagen de perfil</label>
	<button class="section__fill--button">Añadir imagen</button>
	<label class="section__fill--label" for="email">Email</label>
	<input
		class="section__fill--input"
		placeholder="Ej: sally-hill@gmail.com"
		id="email"
		name="email"
		type="email"
		required
	/>
	<label class="section__fill--label" for="phone">Teléfono</label>
	<input
		class="section__fill--input"
		placeholder="Ej: 555-55-55-55"
		id="phone"
		name="phone"
		type="tel"
	/>
	<label class="section__fill--label" for="linkedin">Linkedin</label>
	<input
		class="section__fill--input"
		placeholder="Ej: linkedin.com/in/sally.hill"
		id="linkedin"
		name="linkedin"
		type="text"
		required
	/>

	<label class="section__fill--label" for="github">Github</label>
	<input
		class="section__fill--input"
		placeholder="Ej: @sally-hill"
		id="github"
		name="github"
		type="text"
		required
	/>
</form>
