<section class="preview">
  <button><a href="create-card.html" class="preview__reset">RESET</a></button>

  <article class="preview__card">
    <div class="preview__card__text">
      <h2 class="preview__card_name">Nombre Apellido</h2>
      <h3 class="preview__card_job">Front-end developer</h3>
    </div>

    <img
      src="./assets/images/salas.jpg"
      alt="retrato"
      title="retrato"
      class="preview__card__pic"
    />
    <ul class="preview__card__social">
      <li>
        <a href="mailto:" class="preview__card__social__icons"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </li>
      <li>
        <a href="mailto:" class="preview__card__social__icons"
          ><i class="fa-solid fa-envelope">a</i></a
        >
      </li>

      <li>
        <a href="" class="preview__card__social__icons">
          <i class="fa-brands fa-linkedin-in">b</i></a
        >
      </li>
      <li>
        <a href="" class="preview__card__social__icons">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
    </ul>
  </article>
</section>
