<section class="preview">
  <div class="preview__reset">
    <i class="fa-regular fa-trash-can reset preview__reset__text"></i>
    <button type="reset" class="preview__reset__text">RESET</button>
  </div>

  <article class="preview__card">
    <div class="preview__card__text">
      <h2 class="preview__card__name">Nombre Apellido</h2>
      <h3 class="preview__card__job">Front-end developer</h3>
    </div>

    <img
      src="./assets/images/salas.jpg"
      alt="retrato"
      title="retrato"
      class="preview__card__pic"
    />
    <ul class="preview__card__social">
      <li>
        <a href="" class="preview__card__social__icons"
          ><i class="fa-solid fa-mobile-screen-button"></i
        ></a>
      </li>
      <li>
        <a href="mailto:" class="preview__card__social__icons"
          ><i class="fa-solid fa-envelope"></i
        ></a>
      </li>

      <li>
        <a href="" class="preview__card__social__icons">
          <i class="fa-brands fa-linkedin-in"></i
        ></a>
      </li>
      <li>
        <a href="" class="preview__card__social__icons">
          <i class="fa-brands fa-github-alt"></i>
        </a>
      </li>
    </ul>
  </article>
</section>
