<form action="" class="dropdown">
	<fieldset class="dropdown__fieldset">
		<div class="dropdown__header">
			<i class="fa-solid fa-object-ungroup"></i>
			<h2 class="dropdown__title">Diseña</h2>
			<i class="dropdown__arrow fa-solid fa-angle-up"></i>
		</div>
		<include src="./section-form-design.html"></include>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<div class="dropdown__header">
			<i class="fa-regular fa-keyboard"></i>
			<h2 class="dropdown__title">Rellena</h2>
			<i class="dropdown__arrow fa-solid fa-angle-up"></i>
		</div>
		<include src="./section-form-fill.html"></include>
	</fieldset>
	<fieldset class="dropdown__fieldset">
		<div class="dropdown__header">
			<i class="fa-solid fa-share-nodes"></i>
			<h2 class="dropdown__title">Comparte</h2>
			<i class="dropdown__arrow fa-solid fa-angle-up"></i>
		</div>
		<include src="./section-form-share.html"></include>
	</fieldset>
</form>
