.footer {
    background-color: #ffffff;
    border: solid 1px $color__dividers;
    height: 110px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;

    @media all and (min-width: 768px) {
        height: 6rem;
        flex-direction: row;
        justify-content:space-between;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }


    &__copy {
        font-family: $font__text, sans-serif;
        color: #6b6b6b;
        line-height: 1.43;
        font-size: 14px;
        opacity: 0.5;
    }


    &__image {
        width: 103px;
        height: 40px;
    }
}

