.container-header {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: $color__bg--light;

    .image-header {
        width: 250px;
        padding-top: 6rem;
        padding-bottom: 3rem;

        @media all and (min-width: 768px) {
            width: 419px;
            padding-top: 21rem;
        }
    }
}


