.container-header {
    background-color: $color__bg--light;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 3rem;
    
    .header-image {
    width: 250px;
    height: 63px;         
    }

    @media all and (min-width: 768px) {
        .header-image {
            width: 419px;
            height: 105px;
        }
    }
}

@media all and (min-width: 768px) {
    .container-header {
        padding-top: 22rem;
    }
}